$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$background-image: url(../imgs/background_home.jpeg);
$background-opacity: 0.5;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#background-img {
      background: $background-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
